<div class="comment-container">
  <p>
    <% if current_user.avatar.present? %>
      <%= image_tag current_user.avatar, style: " float: left; vertical-align: top; width: 8%; height: 8%; border-radius: 50%;"%>
    <% else %>
      <%= image_tag "defaultAvatar.png", style: " float: left; vertical-align: top; width: 8%; height: 8%; border-radius: 50%;"%>
    <% end %>
    <%= link_to current_user.username, user_path(current_user.id), class: "nav-link", style: "font-size: 16px;
     margin: 0px 2px 30px 0px;
     color: rgba(0, 0, 0, 1);" %>

    <%= form_with(model: @comment, html: {id: 'comment-form'}) do |form| %>

      <% invalid = @comment.errors.include?(:text) %>
      <%= form.text_area :text, class: "form-control", style: "width: 400px; margin-left: 75px; margin-bottom: -60px;
       margin-top: -40px;
       font-size: 13px;"%>
      <% if invalid %>
        <p style="color:red">
          <%= @comment.errors.full_messages_for(:text).join(",") %>

      <% end %>
      </p>
      <%= form.text_field :user_id, type: "hidden"%>
      <%= form.text_field :post_id, type: "hidden" %>

  <% end %>

      <i class="material-icons" onclick="document.getElementById('comment-form').submit()" style=" width: 24px; height: 24px; color: rgba(0,0,0,0.5); cursor: pointer; margin-top: -10px; margin-left: 493px;">checkmark</i>


</div>



<script>
    function submitForm() {
        document.querySelector('form').submit();
    }
</script>