
<div id="<%= dom_id post %>" class="sticker">
  <p>
  <%= link_to post.user.username, user_path(post.user_id), class: "nav-link" %>
  </p>

  <% post.images.each do |image| %>
    <%= image_tag(image, style: "object-fit: cover;
     width: 200px; height: 200px;") %>
    <p>
      <%= link_to "", post, class: "nav-link" %>
    </p>
<% end %>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <% if user_signed_in? %>
      <%= button_to 'like', likes_path, params: { like: { post_id: post.id, user_id: current_user.id}}, method: :post %>
      <% end %>
  <%= post.likes.count %>

  </p>

</div>


