<p>
<div id="<%= dom_id post %>" class="sticker">
  <p>
    <%= link_to post.user.username, user_path(post.user_id), class: "nav-link" %>
  </p>

  <p class = ''>

    <% if post.description.length > 15 %>
      <br>
    <% end %>
    <%= post.description %>
  </p>

  <% post.images.each do |image| %>
    <div style="position: relative;">
      <%= image_tag(image, style: "object-fit: cover; width: 200px; height: 200px;") %>
      <%= link_to "", post, class: "nav-link", style: "position: absolute; top: 0; right: 0; bottom: 0; left: 0;" %>
    </div>
    <p>
    </p>
  <% end %>



  <p>
    <% if user_signed_in? %>
      <%= button_to 'like', likes_path, params: { like: { post_id: post.id, user_id: current_user.id } }, method: :post %>
    <% end %>
    <%= post.likes.count %>
  </p>

  <p>
    <% if post.comments.any? %>
      <% post.comments.each do |comment| %>
        <% if comment.user_id != nil %>
          <%= render comment %>
        <% end %>
      <% end %>
    <% end %>
  </p>

</div>
</p>



