<%= stylesheet_link_tag("post") %> <p style="color: green"><%= notice %>
</p>
<div id="posts" class="text-center">
  <% if user_signed_in? %>
    <div id="posts-container">
      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>
    </div>
    <% else %>

    <div style="font-size: 74px;">
      <br>
      <b>Like. Share. Discuss.</b>
      <br>
      <br>
    </div>

    <div class="sticker">
      <p>
        <%= image_tag "defaultAvatar.png", style: "float: left; vertical-align: top; width: 10%; height: 10%; border-radius: 50%;"%>
        <span class="nav-link" style="color: rgba(0, 0, 0, 1);">ipostcats</span>
      </p>
      <p class="description">
        <%= 'The AI is honestly gonna kill us all! Those cats are cute though..' %>
      </p>

      <div style="position: relative;">
        <%= image_tag "kittens.png", style: "object-fit: cover; width: 95%; height: 95%; border-radius: 10px;"%>
      </div>

    </div>

    <div style="font-size: 74px;">
      <br>
      <b>Sign up!</b>
      <br>
      <br>
    </div>
  <% end %>
</div>

<a class="load-more-posts" href="<%= posts_path %>"></a>
<%= javascript_include_tag 'posts' %>
<%= javascript_include_tag 'posts_images' %>