<%= stylesheet_link_tag("post") %> <p style="color: green"><%= notice %>
</p>
<div id="posts" class="text-center">
  <% if user_signed_in? %>
    <div id="posts-container">
      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>
    </div>
    <% else %>
    <div class="sticker">
      <p>
        <%= image_tag "defaultAvatar.png", style: "float: left; vertical-align: top; width: 10%; height: 10%; border-radius: 50%;"%>
        <%= "ipostcats"%>
      </p>
      <div style="position: relative;">
        <%= image_tag "kittens.png", style: "object-fit: cover; width: 95%; height: 95%; border-radius: 10px;"%>
      </div>

    </div>
  <% end %>
</div>

<a class="load-more-posts" href="<%= posts_path %>"></a>
  <script>
      function isElementInViewport(el) {
          const rect = el.getBoundingClientRect();

          return (
              rect.top >= 0 &&
              rect.left >= 0 &&
              rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
              rect.right <= (window.innerWidth || document.documentElement.clientWidth)
          );
      }

      let currentOffset = 0;
      const postsPerPage = 2;

      window.addEventListener('scroll', () => {
          const posts = document.querySelectorAll('#posts-container p');
          const thirdToLastPost = posts[posts.length - 2];
          if (isElementInViewport(thirdToLastPost)) {
              currentOffset += postsPerPage;
              $.getScript($('.load-more-posts').attr('href') + '?offset=' + currentOffset);
          }
      });
  </script>