<section class="h-100 gradient-custom-2">
  <p style="color: green"><%= notice %></p>

  <%= link_to "Back to posts", :back %>
  <div id="posts" class="text-center">
      <div id="posts-container">
          <%= render @post %>
      </div>
  </div>

  <div id="comments" class="text-center">

<% if user_signed_in? %>
  <% if current_user.id == @post.user.id %>
    <div>
      <%= button_to "Destroy this post", @post, method: :delete %>
    </div>
  <% end %>
  <%= render "comments/form" %>
<% end %>

</div>
</section>