<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Instaclown", posts_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <% if user_signed_in? %>
        <% if current_user.avatar.attached? %>
          <%= image_tag(current_user.avatar, style: "vertical-align: middle;width: 50px; height: 50px; border-radius: 50%; ") %>
          <% end %>
        <%= form_with url: profiles_index_path, method: :get do |form| %>
          <%= form.search_field :query, value: params[:query],
               placeholder: "Search", class:"search-field" %>
          <%= form.submit "Search", class: "btn btn-outline-dark" %>
          <% end %>
      <%= link_to "My account", current_user, class: "nav-link" %>
      <%= link_to "Upload post", new_post_path, class: "nav-link" %>
      <%= link_to "Sign out", destroy_user_session_path, class: "nav-link" %>
      <% else %>
        <%= link_to "Sign in", user_session_path, class: "nav-link" %>
        <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
      <% end %>
    </div>
  </div>
</nav>